body{
    background-image: url(100x100.gif);
}

h1{
    background-color: darkturquoise;
}

div{
    position: absolute;
    left: 200px;
    top: 200px;
    width: 400px;
    height: 200px;
    background-color: ghostwhite;
    opacity: 0.8;
    padding: 20px;
    border: turquoise 20px outset;
    margin: 20px;
}